{% assign empathize_methods     = (site.methods | where: "category", "Empathize" ) %}
{% assign define_methods       = (site.methods | where: "category", "Define" )   %}
{% assign ideate_methods         = (site.methods | where: "category", "Ideate" )     %}
{% assign prototype_methods     = (site.methods | where: "category", "Prototype" ) %}
{% assign test_methods = (site.methods | where: "category", "Test" ) %}
{% assign category_methods     = (site.methods | where: "category", page.title ) %}
{% assign all_methods          = (site.methods) %}

<! -- This is used for setting category variables -->
{% capture var-category-name %}{{ page.category | downcase }}_methods{% endcapture %}
