<section class="category category--empathize usa-section" id="empathize">
  <div class="usa-grid">
    <header class="category--header">
        <h1 class="category--title">Empathize</h1>
        <p class="category--subtitle">Methods to build empathy for the project and people involved.</p>
    </header>
    {% for method in empathize_methods %}
      {% include method.html method=method %}
    {% endfor %}
  </div>
</section>
<section class="category category--define usa-section" id="define">
  <div class="usa-grid">
    <header class="category--header">
      <h1 class="category--title">Define</h1>
      <p class="category--subtitle">Methods for focusing the design effort.</p>
    </header>
    {% for method in define_methods %}
      {% include method.html method=method %}
    {% endfor %}
  </div>
</section>
<section class="category category--ideate usa-section" id="ideate">
  <div class="usa-grid">
    <header class="category--header">
      <h1 class="category--title">Ideate</h1>
      <p class="category--subtitle">Methods for creating a testable solution.</p>
    </header>
    {% for method in ideate_methods %}
      {% include method.html method=method %}
    {% endfor %}
  </div>
</section>
<section class="category category--prototype usa-section" id="prototype">
  <div class="usa-grid">
    <header class="category--header">
      <h1 class="category--title">Prototype</h1>
      <p class="category--subtitle">Methods for testing a design hypothesis.</p>
    </header>
    {% for method in prototype_methods %}
      {% include method.html method=method %}
    {% endfor %}
  </div>
</section>
<section class="category category--test usa-section" id="test">
  <div class="usa-grid">
    <header class="category--header">
      <h1 class="category--title">Test</h1>
      <p class="category--subtitle">Foundational methods for practicing design research.</p>
    </header>
    {% for method in test_methods %}
      {% include method.html method=method %}
    {% endfor %}
  </div>
</section>
